<html>
<script type='text/javascript'>
  function showDims() {
    mydiv = document.getElementById('003');
    alert(mydiv.scrollWidth + 'x' + mydiv.scrollHeight);
  }
</script>

<body style="width:100%;height:100%;margin:0;padding:0;">
    <div id="003" style="background-color:red;height:100%;margin-left:200px;margin:0;padding:0;"><iframe class="rt"
        width="100%" height="100%" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"
        src="http://ben10-gamecreator.cartoonnetwork.co.uk/#swf"></iframe></div>
  </div>
</body>
</html>